<% if (locals.data) { 
  
  data.forEach( (row) => {
    
  %>




<a href= <%  __append('"/seemore/'+row.Id_user+'"') %> >
  <div class="col-lg-6 mt-4" >
    <div class="member d-flex align-items-start">
      <div class="pic"><img src="assets/img/doctors/doctors-3.jpg" class="img-fluid" alt=""></div>
      <div class="member-info">
        <h4><%  __append(row.Nom_M+' '+row.Prenom_M) %>  </h4>
        <span><%  __append(row.Specialité) %></span>
        <p><%  __append(row.Hopital) %></p>
        <div class="social">
          <a href=""><i class="ri-twitter-fill"></i></a>
          <a href=""><i class="ri-facebook-fill"></i></a>
          <a href=""><i class="ri-instagram-fill"></i></a>
          <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
        </div>
      </div>
    </div>
  </div>
</a>

<%  });   %>

  <% }  %>